---
import MainLayout from "../layouts/MainLayout.astro";
import AndenSection from "../components/AndenSection.astro";
import Tag from "../components/Tag.astro";
import { Image } from "astro:assets";
import AboutSection from "../components/AboutSection.astro";
import AboutSection2 from "../components/AboutSection2.astro";
import AboutEmployee from "../components/AboutEmployee.astro";
import CorevaluesSection from "../components/CorevaluesSection.astro";
import FaqSection from "../components/FaqSection.astro";

const corevalueData = await fetch("https://raw.githubusercontent.com/daviatkea/frontend-design/main/resources/json/corevalues.json").then((res) => res.json());

import EmployeeSection from "../components/EmployeeSection.astro";
import EmployeeCard from "../components/EmployeeCard.astro";

const employeeData = await fetch("https://raw.githubusercontent.com/daviatkea/frontend-design/main/resources/json/employees.json").then((res) => res.json());
---
<MainLayout title="About">
  <section class="hero">
    <img src="/src/assets/images/about_hero.jpg" alt="Hero image" />
</section>

  <AboutSection />
  <AboutSection2 />

  <CorevaluesSection data={corevalueData} background="white" tagProps={{ style: "secondary" }} buttonProps1={{ style: "primary" }}>Growing with our Clients</CorevaluesSection>

  <EmployeeSection data={employeeData} />
   <FaqSection />
</MainLayout>
<style>
  .accordion {
    display: flex;
}

.hero {
 background-color: var(--color-primary3);
  color: var(--color-secondary2);
  grid-column: content;
  display: flex;
  flex-direction: row; 
  align-items: center;
  padding: 0 0%;
}
</style>