---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import EmployeeSection from "../components/EmployeeSection.astro";

const employeeData = await fetch("https://raw.githubusercontent.com/daviatkea/frontend-design/main/resources/json/employees.json").then((res) => res.json());
---

<MainLayout title="Team">
<section class="hero">
    <img src="/src/assets/images/teamhero.jpg" alt="Hero image" />
</section>

<div class="grid_team">
  <section class="start">
    <div class="start-content">
      <h2>Meet Our Great Team</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ad minim veniam, quis nostrud exercitation.</p>
    </div>

    <div class="start-button">
      <Button style="secondary" linket="#">Join our team</Button>
    </div>
  </section>

  <section>
    <EmployeeSection data={employeeData} />
  </section>
</div>
</MainLayout>

<style>

  .grid_team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .start {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
    text-align: left;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
  }

  .start-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: black;
  }

  .start-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--color-text);
  }

  .start-button {
    display: flex;
    align-items: center;
  }

  .start-button button {
    border-radius: 50px;
    padding: 1rem 2rem;
    background-color: var(--color-secondary);
    color: white;
    font-weight: bold;
  }

 .hero {
 background-color: var(--color-primary3);
  color: var(--color-secondary2);
  grid-column: content;
  display: flex;
  flex-direction: row; 
  align-items: center;
  padding: 0 0%;
 }
  .hero img {
    width: 100%;
    height: auto;
  }

  @container (min-width: 768px) {
    .start-content h2 {
      font-size: 2rem;
    } 

    .start-content p {
      font-size: 1rem;
    }

    .start-button button {
      padding: 0.75rem 1.5rem;
    }
  }

  @container (max-width: 768px) {
    .start-content h2 {
      font-size: 1.8rem;
    }

    .start-content p {
      font-size: 0.9rem;
    }

    .start-button {
      justify-content: center;
      width: 100%;
    }

    .start-button button {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }

    .employee-card {
      flex-basis: 100%;
    }
  }
</style>

