---
import MainLayout from "../layouts/MainLayout.astro";
import EmployeeCard from "./EmployeeCard.astro";
const { data } = Astro.props
import Tag from "./Tag.astro";
---

<MainLayout title="our team">
  <section>
    <div>
      <p class="medium-size">We champion the bold to achieve the extraordinary</p>
      <p>
        Ippsum is the result of synergy between our teams and our customers. Our
        company culture is focused on excellent productivity, customer
        satisfaction, respect for team.
      </p>
    </div>
  </section>
</MainLayout>

<style>
  section {
    grid-column: feature;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block-start: 4rem;
  }

  .medium-size {
    max-width: 26rem;
  }

  p:nth-last-of-type(1) {
    margin-bottom: 2rem;
  }
</style>