---
import Mail from "./Mail.astro";
import Button from "./Button.astro";
---

<section>
  <div class="wrapper">
    <div class="what-to-container">
      <p class="medium-size">Subscribe Our Newsletter</p>
      <p class="small-size">
        Build stronger Customer Relationships with Consultalk
      </p>
    </div>
  </div>
  <div class="wrapper">
    <div class="what-to-container">
      <div class="input">
        <Mail />
        <Button
          title="Subscribe"
          backgroundColor="#FFCC4A"
          textColor="#181818"
        />
      </div>
      <img class="stars" src="../images/smallStars.svg" alt="" />
    </div>
  </div>
</section>
<style>
  section {
    container: section / inline-size;
    background: var(--primary03);
    border-radius: 1.875rem;
    padding: 4rem 4rem 4rem 4rem;
    margin: 4rem 0;
    overflow: hidden;

    .medium-size {
      color: var(--secondary01);
    }
    .small-size {
      color: var(--secondary01);
    }
  }

  .wrapper {
    container: what-to-container / inline-size;
  }

  .what-to-container:has(img) {
    display: grid;
    gap: 1rem;

    @container what-to-container (width > 500px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  section {
    display: grid;
    gap: 2rem;
    grid-column: feature;

    @media (width > 900px) {
      grid-template-columns: 1fr minmax(0, 400px);
    }

    .what-to-container {
      margin-inline: auto;
      display: block;
      position: relative;

      .stars {
        position: absolute;
        width: 19rem;
        left: 19rem;
        top: -12rem;
        z-index: -2;
        transform: rotate(-35deg);
      }

      .hands {
        margin: 0;
      }
    }
    .vision-img {
      display: flex;
      flex-direction: column-reverse;
    }

    img:not(.stars, .consult, .phone) {
      border-radius: 1.75rem 1.75rem 0 0;
    }
  }

  .Mail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;

    @media (width < 500px) {
      flex-wrap: wrap;
    }
  }

  .what-to-container:has(.input) {
    &::before {
      content: "";
      position: absolute;
      right: -5rem;
      bottom: -13rem;
      border-radius: 1.25rem;
      background: var(--primary02);
      width: 7.75rem;
      height: 10.5625rem;
      transform: rotate(40deg);
      flex-shrink: 0;
      z-index: -1;
    }
  }
</style>