---
const { corevalue } = Astro.props;
const {title, description, link, text } = corevalue;
---

<ul role="list">
  <li>
    <h5>{title}</h5>
    <p>{description}</p>
    <a href={link}>{text}</a>
  </li>
</ul>
<style>
  @layer components {
    article {
      background: var(--color-secondary1);
      color: var(--color-primary3);
      text-align: center;
      padding: 36px 23px;
      border-radius: 20px;
      p {
        color: var(--color-text);
      }
    }
    img {
      border-radius: 20px;
    }
  }
</style>