---
import { Image } from "astro:assets";
import sarah from "../assets/images/sarah.jpg";

import Button from "./Button.astro";

import Card from "./Card.astro";
---

<section class="container">
  <div class="tekst-knap">
    <div>
      <h1>Adam Buschemia Business Consultant</h1>
      <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
      <Button style="secondary" linket="#">Book a meeting</Button>
    </div>
  </div>
  <Image class="billedet" alt="" src={sarah} />
  <div class="cards">
    <Card style="primary" buttonProps={{ style: "primary" }} h6="Finance & Restructuring" tekst="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.">Our Services</Card>
    <Card style="primary" buttonProps={{ style: "primary" }} h6="Our Approach" tekst="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.">More About</Card>
    <Card style="primary" buttonProps={{ style: "primary" }} h6="Our Approach" tekst="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.">Explore Our Solution</Card>
  </div>
</section>

<style>
  @layer components {
    .container {
      grid-column: full;
      display: grid;
      grid-template-columns: [full-start] 1fr [content] minmax(0, 600px) minmax(0, 600px) 1fr [full-end];
      grid-template-rows: 1fr auto auto;
      max-height: 90vh;
      overflow: hidden;


        background: var(--color-primary3);
        color: var(--color-secondary2);

        > div {
          grid-column: content;
          align-self: start;
        }
      }
      .billedet {
        height: 100%;
        object-fit: cover;
      }
      img {
        grid-column: 3 / -1;
        grid-row: 1 / -2;
        border-radius: 0px;
      }

      .cards {
        grid-column: 2 / -2;
        grid-row: 2 / 4;
        display: flex;
        gap: 20px;
        background: none;
        @media (width < 600px) {
          display: block;
        }
      }
    }

    h1 {
      font-weight: var(--font-weight-700);
      margin-bottom: 32px;
    }
  }
</style>