---

---

<form action="/submit_email.php" method="post">
  <mail
    type="email"
    id="email"
    name="email"
    placeholder="Your email address"
    required
  />
</form>

<style>
  form {
    padding: 1rem 0;
  }

  .mail {
    width: 18rem;
    padding: 1rem 0.9rem;
    border: 1px solid #c1c1c1;
    border-radius: 2.625rem;
    background: var(--secondary02);
    color: #a9a9a9;
    font-family: "Lato";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    outline: none;
  }
</style>