<dl>
  <div>
    <dd>1128+</dd>
    <dt>Successful Work</dt>
  </div>
  <div>
    <dd>908+</dd>
    <dt>Team members</dt>
  </div>
  <div>
    <dd>258+</dd>
    <dt>Happy customers</dt>
  </div>
  <div>
    <dd>564+</dd>
    <dt>Creative Ideas</dt>
  </div>
</dl>

<style>
  dl {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    padding: 2rem 0;
    z-index: 1;
    margin-bottom: 2rem;
  }

  dl > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-primary3);
  }

  dd {
    font-size: var(--step-5); /* Størrelse til tallene */
    font-weight: var(--font-weight-700);
    margin: 0;
    color: var(--color-primary3);
  }

  dt {
    font-size: var(--step-1); /* Størrelse til beskrivelserne */
    font-weight: var(--font-weight-500);
    margin-top: 0.5rem;
    color: var(--color-text);
  }

  @media (max-width: 768px) {
    dl {
      flex-direction: column;
      gap: 1.5rem;
    }
  }
</style>
