---
import HeadingButton from "./HeadingButton.astro";
import Tag from "./Tag.astro";
import ourvision from '../assets/images/ourvision.jpg'; 
---

<section>
  <div class="wrapper">
    <div class="vision-container">
      <div class="vision-text">
        <Tag style="primary">OUR VISION</Tag>
        <h2>Turn your ideas into reality.</h2>
        <p>
          Capitalize on low hanging fruit to identify a ballpark value added
          activity beta test. Override the digital divide with additional from
          DevOps.
        </p>
        <ul>
          <li>
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day.
          </li>
          <li>
            Capitalize on low hanging fruit to identify a ballpark value added
            activity to beta test override the digital.
          </li>
        </ul>
      </div>
      <div class="vision-img">
        
        <img src={ourvision} alt="Vision Image" />
        <div class="decorative-box"></div>
      </div>
    </div>
  </div>
</section>

<style>
 
  section {
    padding: 4rem 0;
  }

  .vision-container {
    display: grid;
    gap: 1rem;

    @container vision-container (width > 500px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .vision-text {
    margin-inline: auto;
    display: block;
  }

  ul {
    display: grid;
    gap: 1rem;
    margin-left: -2.5rem;
    color: black;
  }

  li {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  h2, p {
    color: black;
  }

  img {
    border-radius: 1.75rem;
  }
</style>
